{% autoescape None %}

<html>
	<title>
	    <head>Clearsoup invitation</head>
    </title>
    <body>
        <p>
			Hi there!
			
			{{ project_owner }} has added you to the project {{ project_name }} on Clearsoup, a simple project tracking tool. Since you don't seem to have a Clearsoup account, please <a href="www.clearsoup.in/signup/?code={{ code }}">sign up for an account</a> to get started.
			
			If you are having trouble clicking on the link, copy and paste the following link in your browser:
			
			www.clearsoup.in/signup/?code={{ code }}
			
			For any help or feedback, reach us at info@clearsoup.in.
			
			Note: Please ignore this email if you are not the intended recipient.
			</p>
	</body>
</html>