{% autoescape None %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
	    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Reset your Clearsoup password</title>
    </head>
    <body>
        <p>
			Hi {{ username }}

			To reset your <a href="http://www.clearsoup.in">Clearsoup</a> password, please click on <a href="{{ reset_url }}">this link</a>.

			If you are having trouble clicking on the link, copy and paste the following link in your browser:

			{{ reset_url }}

			If you did not request for your password to be reset, please contact us at info@clearsoup.in.

		</p>
	</body>
</html>